@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montagu Slab', serif;

}

body{
    background: rgb(126, 126, 236);
    font: normal 15pt arial;

}
header{
    margin-top: 10px;
    color: white;
    text-align: center;
    

}
nav{
    text-align: center;
}
section#menu-op{
    background: rgb(255, 255, 255) ;
    border-radius: 10px;
    padding: 25px;
    width: 600px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    height: auto;
}
nav#menuh ul{
    list-style-type: none;
    padding: 0%;
    background-color: rgba(2, 2, 2, 0.815);
    max-width:600px;
    border-radius: 30px;
    margin: 20px auto 30px; 
}

nav#menuh ul li{
    display: inline;
}
nav#menuh ul li a{
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    
}
nav#menuh ul li a:hover{
    background-color: #ffffffd2;
    color: rgba(2, 2, 2, 0.815);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    
}
article#menu-op ul li  {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 140px;  
    margin: 5px;     
}
article#menu-op a{
    text-decoration: none;
}

.nav_tabs{
    width: 600px;
    height: 670px;
    margin: 50px auto;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}
.nav_tabs ul{
    list-style: none;
}
.nav_tabs ul li{
    float: left;
}
.nav_tabs label{
    width: 120px;
    padding: 25px;
    height: 100px;/*tamanho das abas cinzas*/
    background-color: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    }
.rd_tabs:checked ~ label{
    background-color: #e54e43;
}
.rd_tabs{
    display: none;  
}
.content{
    border-top: 5px solid #e54e43;
    /*background-color: #fff;*/
    display: none;
    position: absolute;
    height: 570px;
    width: 600px;
    left: 0;
}
.rd_tabs:checked ~ .content{
    display: block;
}